<div class="wrapper">
    <div class="container">
        <div class="demo-header demo-header-image">
            <div class="arena">
                <h1 class="title-uppercase">Blogs</h1>
                <h3>The innovator's arena</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="footer">
            <div class="addBlog">
                <h4><a [routerLink]="[ '/create']">Add your own blog post</a></h4> 
            </div>
        </footer>
    </div>
    <div class="container blogs">
        <div *ngFor="let blog of blogs | async" (click)="goToDetailPage(blog)" >
            <hr>
            <h3> {{blog.Title}}</h3> <p> by {{blog.Name}} </p> 
            <p> {{blog.description}} </p>
        </div>
    </div>
</div>

