<div class="wrapper">
    <div class="container">
        <div class="demo-header demo-header-image">
            <div class="arena">
                <h1 class="title-uppercase">Blogs</h1>
                <h3>The innovator's arena</h3>
            </div>
        </div>
    </div>
    <div class="container blogs">
        <div *ngFor="let blog of blogs" (click)="goToDetailPage(blog)" >
            <hr>
            <h3> {{blog.title}} </h3>
            <p> {{blog.description}} </p>
            by {{blog.name}}
        </div>
    </div>
</div>

