<div class="container-fluid section-dark">
  <div class="row padding-top">
    <div class="col-md-4">
      <h5 class="heading"> About </h5>
      <ul class="featured">
        <li class="arrow-list" >Company</li>
        <li class="arrow-list" >Customers</li>
        <li class="arrow-list" >Our Process</li>
        <li class="arrow-list" >Blogs</li>
        <li class="arrow-list" >Careers</li>
        <li class="arrow-list" >Privacy Policy</li>
        <li class="arrow-list" >Terms of service</li>
        <li class="arrow-list" >Refund Policy</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h5 class="heading"> Services </h5>
      <ul class="featured">
        <li class="arrow-list">AngularJS Development</li>
        <li class="arrow-list" >NodeJS Development</li>
        <li class="arrow-list" >ReactJS Development</li>
        <li class="arrow-list" >ExpressJS Development</li>
        <li class="arrow-list" >SalisJS Development</li>
        <li class="arrow-list" >Android Development</li>
        <li class="arrow-list" >IOS Development</li>
        <li class="arrow-list" >Ionic Framework Development</li>
      </ul>

    </div>

    <div class="col-md-4">
      <h5 class="heading">Contact Us</h5>
      <ul class="featured" id="blank">
        <li class="phone">+91 9688338339</li>
        <li class="phone">+1 (248) 986-6081</li>
        <li class="email" >contact@nextontop.com</li>
        <li class="location" >004 Ground floor, Shiva Krupa,
        13th Cross, Electronic City Phase - I,
        Bengaluru, India - 560100.</li>
        <li class="location" >10981, Caminito Alvarez,
        San Diego, California,
        United States of America - 92126</li>
      </ul>

    </div>
  </div>
</div>